        <section class="about-intro" id="about">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 nopadding features-intro-img">
                        <div class="features-bg">
                            <div class="texture-overlay"></div>
                            <div class="features-img wp1 animated fadeInLeft">
                                <img src="{{ '/images/owasp.png' | prepend: site.baseurl }}" alt="OWASP Logo" width="101" height="100" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 nopadding">
                        <div class="owasp-kerala">
                            <h3 class="title-text">OWASP Kerala</h3>
                            <p>OWASP Kerala Chapter was founded in the mid of 2006 by a group of security enthusiasts and professionals who predominantly conducts events like Seminars on Cloud Security, Social Engineering, Cyber Laws, Mobile Vulnerabilities etc. to create awareness related to software security in the society. The chapter presents opportunities to the software community in contributing to secure application development.</p>

                            <p>OWASP provides speakers to Institution of Engineers for Wednesday technical talks related to application security they organize. OWASP also provides speakers to Computer Society of India for technical sessions related to application security they organize.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>