        <section class="call-for-paper" id="call-for-paper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center wp4">
                        <h1>Call For Paper</h1>
                        <p>OWASP Kerala Chapter is soliciting high quality technical papers that present promising approaches, applications, methodologies, results, case studies, and tools addressing challenges in security aspects of Web, Mobile, Embedded and Internet of Things based applications but are not limited to these areas alone. Papers should present original, unpublished work validated via analysis, simulation or experimentation. Practical experiences and Testbed trials also are welcome. Call for Papers (CFP) is NOW OPEN. To speak at upcoming OWASP Kerala meetings please submit your Bio-data and talk abstract via <a href="https://goo.gl/toDQC7" title="Submit CFP" target="_blank"> this form </a>. When we accept your talk, it will be required to use the <a href="https://www.owasp.org/images/5/5d/PPT_2013_Toolbox.zip" title="OWASP Presentation Templates" target="_blank"> OWASP Presentation Templates</a></p>
                        <a href="https://goo.gl/toDQC7" class="download-btn" target="_blank">Submit CFP <i class="fa fa-paper-plane-o"></i></a>
                    </div>
                </div>
            </div>
        </section>