        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="footer-logo">
                            <img src="{{ '/images/owasp-logo-blue.png'| prepend: site.baseurl }}" alt="owasp">
                        </h1>
                        <div id="contact">
                            <address>
                                Module 17, 4th floor,
                                Gayathri Building,
                                Technopark Campus,
                                Trivandrum, 695 581
                                Phone: 8893330006
                            </address>
                        </div>
                        <ul class="social-nav">
                            <li>
                                <a href="https://twitter.com/OWASP_Kerala" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/OWASPKerala" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/1/b/112509859406496589312/112509859406496589312/posts" target="_blank">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://lists.owasp.org/listinfo/owasp-kerala" target="_blank">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/owasp-kerala" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <ul class="footer-nav">
                            <li><a href="#about">About</a></li>
                            <li><a href="#features">Core Values</a></li>
                            <li><a href="#events">Events</a></li>
                            <li><a href="#screenshots">Gallery</a></li>
                            <li><a href="#call-for-paper">Call For Paper</a></li>
                            <li><a href="#members">Board Members</a></li>
                        </ul>
                        <p class="copy-rights">© <a href="https://www.owasp.org/" title="OWASP" target="_blank"> OWASP </a> / <a href="https://www.owasp.org/index.php/Kerala" title="OWASP Kerala" target="_blank">OWASP Kerala</a> {{ Carbon\Carbon::now()->year }} </p>
                    </div>
                </div>
            </div>
        </footer>
