        <section class="screenshots" id="screenshots">
            <div class="container-fluid">
                <div class="row">
                    <ul class="grid">
                        <li>
                            <figure>
                                <img src="{{ '/images/gallery/tkm-quilon.png' | prepend: site.baseurl }}" alt="TKM College of Engineering, Quilon">
                                <figcaption>
                                <div class="caption-content">
                                    <a href="{{ '/images/gallery/large/tkm-quilon.png' | prepend: site.baseurl }}" class="single_image">
                                        <i class="fa fa-search"></i><br>
                                        <p>Student outreach initiative @ TKM College of Engineering, Quilon</p>
                                    </a>
                                </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{{ '/images/gallery/tkm-quilon-1.png' | prepend: site.baseurl }}" alt="TKM College of Engineering, Quilon">
                                <figcaption>
                                <div class="caption-content">
                                    <a href="{{ '/images/gallery/large/tkm-quilon-1.png' | prepend: site.baseurl }}" class="single_image">
                                        <i class="fa fa-search"></i><br>
                                        <p>Student outreach initiative @ TKM College of Engineering, Quilon</p>
                                    </a>
                                </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{{ '/images/gallery/sept-meet-03.png' | prepend: site.baseurl }}" alt="Vishnu - OWASP Kerala Meet September 2014">
                                <figcaption>
                                <div class="caption-content">
                                    <a href="{{ '/images/gallery/large/sept-meet-03.png' | prepend: site.baseurl }}" class="single_image">
                                        <i class="fa fa-search"></i><br>
                                        <p>Vishnu - OWASP Kerala Meet September 2014 @ DBG, Thejaswini, Technopark , Kerala</p>
                                    </a>
                                </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{{ '/images/gallery/rajesh-at-chapter-meet-iiitmk.png' | prepend: site.baseurl }}" alt="Chapter Meet April @ CCF, IIITM-K, Technopark Campus, Trivandrum">
                                <figcaption>
                                <div class="caption-content">
                                    <a href="{{ '/images/gallery/large/rajesh-at-chapter-meet-iiitmk.png' | prepend: site.baseurl }}" class="single_image">
                                        <i class="fa fa-search"></i><br>
                                        <p>Chapter Meet April @ CCF, IIITM-K, Technopark Campus, Trivandrum</p>
                                    </a>
                                </div>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="grid">
                        <li>
                            <figure>
                                <img src="{{ '/images/gallery/internet-security-2.png' | prepend: site.baseurl }}" alt="Internet Security @ Institution of Engineers Hall">
                                <figcaption>
                                <div class="caption-content">
                                    <a href="{{ '/images/gallery/large/internet-security-2.png' | prepend: site.baseurl }}" class="single_image">
                                        <i class="fa fa-search"></i><br>
                                        <p> Internet Security @ Institution of Engineers Hall, Trivandrum</p>
                                    </a>
                                </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{{ '/images/gallery/owasp-perumon.png' | prepend: site.baseurl }}" alt="College of Engineering, Perumon, Kollom">
                                <figcaption>
                                <div class="caption-content">
                                    <a href="{{ '/images/gallery/large/owasp-perumon.png' | prepend: site.baseurl }}" class="single_image">
                                        <i class="fa fa-search"></i><br>
                                        <p>Student outreach initiative @ College of Engineering, Perumon, Kollom</p>
                                    </a>
                                </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{{ '/images/gallery/internet-security.png' | prepend: site.baseurl }}" alt="Internet Security @ Institution of Engineers Hall">
                                <figcaption>
                                <div class="caption-content">
                                    <a href="{{ '/images/gallery/large/internet-security.png' | prepend: site.baseurl }}" class="single_image">
                                        <i class="fa fa-search"></i><br>
                                        <p> Internet Security @ Institution of Engineers Hall, Trivandrum</p>
                                    </a>
                                </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{{ '/images/gallery/owasp-trv-lbs.png' | prepend: site.baseurl }}" alt="LBS, poojapura, Trivandrum">
                                <figcaption>
                                <div class="caption-content">
                                    <a href="{{ '/images/gallery/large/owasp-trv-lbs.png' | prepend: site.baseurl }}" class="single_image">
                                        <i class="fa fa-search"></i><br>
                                        <p>Student outreach initiative @ LBS, poojapura, Trivandrum</p>
                                    </a>
                                </div>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="grid">
                        <li>
                            <figure>
                                <img src="{{ '/images/gallery/sept-meet-04.png' | prepend: site.baseurl }}" alt="Sajith Shetty - OWASP Kerala Meet September 2014">
                                <figcaption>
                                <div class="caption-content">
                                    <a href="{{ '/images/gallery/large/sept-meet-04.png' | prepend: site.baseurl }}" class="single_image">
                                        <i class="fa fa-search"></i><br>
                                        <p>Sajith Shetty - OWASP Kerala Meet September 2014 @ DBG, Thejaswini, Technopark , Kerala</p>
                                    </a>
                                </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{{ '/images/gallery/sreenath-at-chapter-meet-iiitmk.png' | prepend: site.baseurl }}" alt="OWASP Kerala Chapter Meet April @ CCF, IIITM-K, Technopark Campus, Trivandrum">
                                <figcaption>
                                <div class="caption-content">
                                    <a href="{{ '/images/gallery/large/sreenath-at-chapter-meet-iiitmk.png' | prepend: site.baseurl }}" class="single_image">
                                        <i class="fa fa-search"></i><br>
                                        <p>Chapter Meet April @ CCF, IIITM-K, Technopark Campus, Trivandrum</p>
                                    </a>
                                </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{{ '/images/gallery/tkm-quilon-2.png' | prepend: site.baseurl }}" alt="TKM College of Engineering, Quilon">
                                <figcaption>
                                <div class="caption-content">
                                    <a href="{{ '/images/gallery/large/tkm-quilon-2.png' | prepend: site.baseurl }}" class="single_image">
                                        <i class="fa fa-search"></i><br>
                                        <p> Internet Security @ TKM College of Engineering, Quilon</p>
                                    </a>
                                </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="{{ '/images/gallery/sept-meet-01.png' | prepend: site.baseurl }}" alt="Live Broadcasting - OWASP Kerala Meet September 2014">
                                <figcaption>
                                <div class="caption-content">
                                    <a href="{{ '/images/gallery/large/sept-meet-01.png' | prepend: site.baseurl }}" class="single_image">
                                        <i class="fa fa-search"></i><br>
                                        <p>Live Broadcasting - OWASP Kerala Meet September 2014 @ DBG, Thejaswini, Technopark , Kerala</p>
                                    </a>
                                </div>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </section>