        <div class="overlay overlay-boxify">
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#features">Core Values</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#screenshots">Gallery</a></li>
                    <li><a href="#call-for-paper">Call For Paper</a></li>
                    <li><a href="#members">Board Members</a></li>
                </ul>
            </nav>
        </div>
