        <!-- build:js /scripts/jquery.js -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- endbuild -->

        <!-- build:js /scripts/plugins.js -->
        <script src="/bower_components/bootstrap/js/dist/util.js"></script>
        <script src="/bower_components/bootstrap/js/dist/alert.js"></script>
        <script src="/bower_components/bootstrap/js/dist/button.js"></script>
        <script src="/bower_components/bootstrap/js/dist/carousel.js"></script>
        <script src="/bower_components/bootstrap/js/dist/collapse.js"></script>
        <script src="/bower_components/bootstrap/js/dist/dropdown.js"></script>
        <script src="/bower_components/bootstrap/js/dist/modal.js"></script>
        <script src="/bower_components/bootstrap/js/dist/scrollspy.js"></script>
        <script src="/bower_components/bootstrap/js/dist/tab.js"></script>
        <script src="/bower_components/bootstrap/js/dist/tooltip.js"></script>
        <script src="/bower_components/bootstrap/js/dist/popover.js"></script>
        <!-- endbuild -->
        <!-- build:js /scripts/extras.js -->
        <script src="/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="/bower_components/fancybox/dist/jquery.fancybox.min.js"></script>
        <script src="/bower_components/flickity/dist/flickity.pkgd.min.js"></script>
        <script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
        <script src="/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
        <!-- endbuild -->


        <!-- build:js /scripts/toucheffects.js -->
        <script src="{{ '/scripts/min/toucheffects-min.js' | prepend: site.baseurl }}"></script>
        <!-- endbuild -->

        <!-- build:js /scripts/retina.js -->
        <script src="{{ '/scripts/retina.js'' | prepend: site.baseurl }}"></script>
        <!-- endbuild -->


        <!-- build:js /scripts/main.js -->
        <script src="{{ '/scripts/scripts.js'' | prepend: site.baseurl }}"></script>
        <!-- endbuild -->