        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content="The Open Web Application Security Project. Kerala Chapter."/>
        <meta property="og:image" content="{{ URL::to('img/large/sept-meet-02.png') }}"/>
        <meta property="og:url" content="kerala.owasp.org"/>
        <meta property="og:site_name" content="OWASP Kerala"/>
        <meta property="og:description" content="An open community dedicated to enabling organizations to conceive, develop, acquire, operate, and maintain applications that can be trusted."/>
        <meta name="twitter:title" content="The Open Web Application Security Project. Kerala Chapter." />
        <meta name="twitter:image" content="{{ URL::to('img/large/sept-meet-02.png') }}" />
        <meta name="twitter:url" content="kerala.owasp.org" />
        <meta name="twitter:card" content="An open community dedicated to enabling organizations to conceive, develop, acquire, operate, and maintain applications that can be trusted. " />