        <section class="features-list" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <p class="info-values">We thrive to be a global community that drives visibility and evolution in the safety and security of the world’s software. Our core values are</p>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3 feature-1 wp2">
                            <div class="feature-content">
                                <h1><i class="fa fa-flash"></i> OPEN</h1>
                                <p>Everything at OWASP is radically transparent from our finances to our code.</p>
                            </div>
                        </div>
                        <div class="col-md-3 feature-2 wp2 delay-05s">
                            <div class="feature-content">
                                <h1><i class="fa fa-lightbulb-o"></i> INNOVATION</h1>
                                <p>OWASP encourages and supports innovation and experiments for solutions to software security challenges.</p>
                            </div>
                        </div>
                        <div class="col-md-3 feature-3 wp2 delay-1s">
                            <div class="feature-content">
                                <h1><i class="fa fa-globe"></i> GLOBAL</h1>
                                <p>Anyone around the world is encouraged to participate in the OWASP community. </p>
                            </div>
                        </div>
                        <div class="col-md-3 feature-4 wp2 delay-1n5s">
                            <div class="feature-content">
                                <h1><i class="fa fa-heart"></i> INTEGRITY</h1>
                                <p>OWASP is an honest and truthful, vendor neutral, global community. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>